.hero1 {
    @include backgroundimage;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  
    .text {
      background-color: $background-color-text;
      display: flex;
      height: 70%;
      width: 80%;
      border-radius: 30px;
      font-size: 1.3rem;
      padding: 20px;
      text-align: center;
      align-self: center;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
      }

      a:hover {
        color: azure;
      }
  }
