
/* INDEX */

@media (max-width: 768px) {
    .navbar {
      position: relative;
    }
  
    .dropstart {
      @include responsive;
    }
  
    .navbar .menu {
      display: none;
    }
  
    /* INDEX TABLET */

    .hero .context {
      display: grid;
      width: 45%;
      height: 35%;
    }
  
    /*SOBRE MI TABLET*/
  
    .hero1 .text {
      overflow: scroll;
      padding: 10px 0px;
      height: 70%;
      width: 80%;
      display: flex;
      padding: 10px 0;
    }
  
    /* PORTFOLIO TABLET*/
  
    .hero3 {
      overflow: scroll;
      height: 75vh;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
  
      .work {
        grid-column: 1/2;
        grid-row: 1/2;
      }
  
      .work1 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
  
      .work2 {
        grid-column: 1/2;
        grid-row: 2/3;
      }
  
      .work3 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
  }